* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

/* !This is header section */

.nav-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  gap: 90px;
}

.nav-photo {
  height: 600px;
  margin-top: 160px;
}

.nav-title {
  width: 700px;
  height: 200px;
  color: #272727;
  font-size: 55px;
  font-weight: 800;
}

.nav-descrip {
  margin-top: 20px;
  width: 600px;
  height: 90px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.btn {
  margin-top: 20px;
  padding: 20px 30px;
  color: white;
  border-radius: 8px;
  background: #e55473;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: black;
}

/* ! this footer section */
footer {
  height: 50vh;
  background-color: black;
}

.footer-itmes {
  padding-top: 110px;

  text-align: center;
}
.footer-title {
  color: white;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 20px;
}
.pink {
  color: #e55473;
}
.footer-descrip {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding: 0px 550px 35px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}

/* ! This is featured section */
.featured-items {
  text-align: center;
}
.feat-title {
  color: #272727;
  font-size: 35px;
  font-weight: 800;
  padding-bottom: 20px;
  margin-top: 170px;
}
.feat-descrip {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding: 0px 550px;
  margin-bottom: 48px;
}

.flower {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 25px;
}
.pink-flower {
  width: 200px;
  height: 300px;
  margin: 80px 30px 0px 30px;
  padding-bottom: 0px;
}

.pink-bg {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.red-flower {
  width: 200px;
  height: 300px;
  margin: 80px 30px 0px 30px;
  padding-bottom: 0px;
}
.red-bg {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.yellow-flower {
  width: 200px;
  height: 300px;
  margin: 80px 30px 0px 30px;
  padding-bottom: 0px;
}

.yellow-bg {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.flower-name {
  text-align: center;
  text-decoration: underline;
  color: #272727;
  font-size: 18px;
  font-weight: 700;
}
.flower-name h4 {
  margin-top: 25px;
}
