* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

/* !This is header section */

.nav-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  gap: 90px;
}

.nav-photo {
  height: 600px;
  margin-top: 160px;
}

.nav-title {
  width: 700px;
  height: 200px;
  color: #272727;
  font-size: 55px;
  font-weight: 800;
}

.nav-descrip {
  margin-top: 20px;
  width: 600px;
  height: 90px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.btn {
  margin-top: 20px;
  padding: 20px 30px;
  color: white;
  border-radius: 8px;
  background: #e55473;
  font-size: 15px;
  border: none;
}

/* ! this footer section */
footer {
  height: 50vh;
  background-color: black;
}

.footer-itmes {
  padding-top: 110px;

  text-align: center;
}
.footer-title {
  color: white;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 20px;
}
.pink {
  color: #e55473;
}
.footer-descrip {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding: 0px 550px 35px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
