* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

/* !This is header section */

.nav-container {
  /* height: 100vh; */
  width: 1920px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  gap: 90px;
}

.nav-photo {
  height: 600px;
  margin-top: 250px;
  /* margin-bottom: 0px; */
}

.nav-title {
  width: 700px;
  height: 200px;
  color: #272727;
  font-size: 55px;
  font-weight: 800;
}

.nav-descrip {
  margin-top: 20px;
  width: 600px;
  height: 90px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.btn {
  margin-top: 20px;
  padding: 20px 30px;
  color: white;
  border-radius: 8px;
  background: #e55473;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: black;
}

/* ! this is footer section */
footer {
  width: 1922px;
  height: 449px;
  background-color: black;
}

.footer-itmes {
  padding-top: 110px;

  text-align: center;
}
.footer-title {
  color: white;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 20px;
}
.pink {
  color: #e55473;
}
.footer-descrip {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding: 0px 650px 35px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}

/* ! This is featured section */
.featured-items {
  /* height: 100vh;
  max-width: 100%; */
  width: 1910px;
  height: 620px;
  text-align: center;
  /* padding-bottom: 0px; */
  /* margin-bottom: 100px; */
  /* border: 5px solid #f04949; */
  margin-top: 170px;
}
.feat-title {
  color: #272727;
  font-size: 35px;
  font-weight: 800;
  /* padding-bottom: 20px; */
  /* margin-top: 170px; */
  /* border: 5px solid; */
}
.feat-descrip {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  /* padding-top: 200px; */
  padding: 0px 650px;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 20px;
  /* border: 5px solid; */
}

.flower {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  /* margin-top: 50px; */
}
.pink-flower {
  width: 200px;
  height: 300px;
  margin: 40px 35px -3px 35px;
}

.pink-bg {
  width: 300px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.red-flower {
  width: 200px;
  height: 300px;
  margin: 40px 35px -3px 35px;

  /* margin: 80px 30px 0px 30px; */
  /* padding-bottom: 0px; */
}
.red-bg {
  width: 300px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.yellow-flower {
  width: 200px;
  height: 300px;
  margin: 40px 35px -3px 35px;

  /* margin: 80px 30px 0px 30px; */
  /* padding-bottom: 0px; */
}

.yellow-bg {
  width: 300px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.flower-name {
  text-align: center;
  text-decoration: underline;
  color: #272727;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  /* border: 5px solid; */
}

.flower-name h4 {
  margin-top: 25px;
  /* border: 5px solid; */
}

/* ! This is service section */
.service-container {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  text-align: center;
  width: 1440px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin: 0px 250px 128px;
  /* border: 5px solid; */
}

.service-name {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  font-weight: 600;
  /* border: 5px solid; */
}

/* ! This is Deal Section */
.deal-sec {
  width: 1922px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.deal-conatainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
}

.deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.deal-descrip {
  color: rgba(39, 39, 39, 0.6);
  font-size: 21px;
  font-weight: 400;
  /* text-align: center; */
  /* border: 5px solid; */
  /* margin: 0px 400px 0px; */
  width: 594px;
  margin-top: 24px;
  margin-bottom: 32px;
  /* text-align: left; */
}

/* ! This is Instagram section */
.instagram-sec {
  width: 1910px;
  height: 520px;
  /* border: 5px solid red; */
  margin: 120px 0px;
}
.insta-head {
  text-align: center;
}

.insta-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.insta-descrip {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  padding: 0px 650px;
}

.insta-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* height: 100px;
    width: 200px; */
  /* border: 5px solid red; */
  /* padding: 20px;
    margin: 30px; */
}
.insta-photo {
  /* padding: 100px; */
  /* height: 50px;
    width: 100px; */
  /* border: 5px solid; */
  margin-top: 48px;
}
.insta-pic {
  height: 350px;
  width: 300;
}

/* ! This is Get Latest Deal section */
